* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

/* UTILITIES */
:root {
  --bg-primary: #F7F7F2;
  --bg-secondary: #F8F8F4CC;
  --bg-testimonial: #F6F7F2;
  --bg-button: #D2401E;

  --text-primary: #000000;
  --text-secondary: #FFFFFF;
  --text-tertiary: #B7903C;
  --text-warning: #B2B2B2;
  --text-danger: #D2401E;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.list-unstyled{
  list-style-type: none;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}