* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
}

.col-25 {
  width: 25%;
}

/* UTILITIES */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.list-unstyled{
  list-style-type: none;
}